gbmcmc/src/gitversion.c
gbfisher/.DS_Store
gbfisher/Bright_Remove
gbfisher/Bright_Remove.dSYM/
gbfisher/Bright_Remove.dSYM/Contents/Info.plist
gbfisher/Bright_Remove.dSYM/Contents/Resources/DWARF/Bright_Remove
gbfisher/Confusion_Fit
gbfisher/Confusion_Fit.dSYM/
gbfisher/Confusion_Fit.dSYM/Contents/Info.plist
gbfisher/Confusion_Fit.dSYM/Contents/Resources/DWARF/Confusion_Fit
gbfisher/Fisher_Galaxy
gbfisher/Fisher_Galaxy.dSYM/
gbfisher/Fisher_Galaxy.dSYM/Contents/Info.plist
gbfisher/Fisher_Galaxy.dSYM/Contents/Resources/DWARF/Fisher_Galaxy
gbfisher/Full_Residual
gbfisher/Full_Residual.dSYM/
gbfisher/Full_Residual.dSYM/Contents/Info.plist
gbfisher/Full_Residual.dSYM/Contents/Resources/DWARF/Full_Residual
gbfisher/Full_Residual_save.c
gbfisher/Galaxy
gbfisher/Galaxy.dSYM/
gbfisher/Galaxy.dSYM/Contents/Info.plist
gbfisher/Galaxy.dSYM/Contents/Resources/DWARF/Galaxy
gbfisher/OrbitFile
gbfisher/OrbitFile.dSYM/
gbfisher/OrbitFile.dSYM/Contents/Info.plist
gbfisher/OrbitFile.dSYM/Contents/Resources/DWARF/OrbitFile
gbfisher/README
gbfisher/Setup
gbfisher/Setup.dSYM/
gbfisher/Setup.dSYM/Contents/Info.plist
gbfisher/Setup.dSYM/Contents/Resources/DWARF/Setup
gbfisher/Subroutines.o
gbfisher/arrays.o
.DS_Store
gbmcmc/etc/.DS_Store
gbmcmc/etc/reconstruction.gpi
gbmcmc/etc/sources/.DS_Store
gbmcmc/etc/sources/galaxy/
gbmcmc/etc/sources/verification/ZTF1539.dat
gbmcmc/etc/sources/verification/ZTF1539_tides.dat
gbmcmc/src/.DS_Store
gbmcmc/src/.gb_mcmc_chirpmass.c.swp
gbmcmc/src/GalacticBinaryCatalog
gbmcmc/src/GalacticBinaryData.o
gbmcmc/src/GalacticBinaryFStatistic.o
gbmcmc/src/GalacticBinaryIO.o
gbmcmc/src/GalacticBinaryMath.o
gbmcmc/src/GalacticBinaryModel.o
gbmcmc/src/GalacticBinaryPrior.o
gbmcmc/src/GalacticBinaryProposal.o
gbmcmc/src/GalacticBinaryWaveform.o
gbmcmc/src/LISA.o
gbmcmc/src/gb_catalog
gbmcmc/src/gb_catalog.dSYM/
gbmcmc/src/gb_match
gbmcmc/src/gb_match.dSYM/
gbmcmc/src/gb_mcmc
gbmcmc/src/gb_mcmc.dSYM/
gbmcmc/src/gb_mcmc_brans_dicke
gbmcmc/src/gb_mcmc_chirpmass
gbmcmc/src/gb_mcmc_scalar
gbmcmc/src/gb_mcmc_scalar.c
gbmcmc/src/gb_mcmc_scalar_fddot
gbmcmc/src/gb_mcmc_scalar_fddot.c
gbmcmc/src/gb_mcmc_scalar_fddot.dSYM/
gbmcmc/src/gb_residual
gbmcmc/src/gb_residual.dSYM/
gbmcmc/src/gitversion.h
ldasoft.xcworkspace/
master/
tdir/src/dft.dat
tdir/src/dft10.dat
tdir/src/dft100.dat
tdir/src/dft1000.dat
tdir/src/dft20.dat
tdir/src/dft30.dat
tdir/src/dft300.dat
tdir/src/dft40.dat
tdir/src/dft8192.dat
tdir/src/error.dat
tdir/src/fdi
tdir/src/plot.gpi
tdir/src/plot.png
tdir/src/run.sh
tdir/src/sinc.dat
tdir/src/sinc_0.dat
tdir/src/sinc_D.dat
